<%- include('../partials/header') %>

<main>
<h1>Edit Tutorial</h1>

<form id="edit-box" action="/tutorials/<%=tutorial._id%>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="title" value="<%= title %>"><br><br>
    <% tutorial.steps.forEach(function(s) { %>
        <textarea type="text" name="content" placeholder="<%= s.content %>"></textarea>
    <br>
    Original Cloudinary File: <%= s.imageId %><br>
   <button><input type="file" name="image"></button>
    <% }); %>
    <br>

    <button type="submit" value="">Edit Tutorial</button>

</form>

</main>

<%- include('../partials/footer') %>
