<%- include('../partials/header') %>

<main>
<h1>Edit Tutorial</h1>

<form action="/tutorials/<%=tutorial._id%>/edit?_method=PUT" method="PUT" autocomplete="off">
    <input type="text" name="title" value="<%= tutorial.title %>">
    <textarea type="text" name="content" value="<%= tutorial.content %>"></textarea>
    <input type="file" name="image" value="<%= tutorial.image %>">
    <br>
    <input id="input-btn" type="submit" value="Edit Tutorial">

</form>

</main>

<%- include('../partials/footer') %>
