<%- include('../partials/header') %>
<main>
    <div>
        <h1 class="title"><a href="/tutorials">
                <%= title %></a></h1>
    </div>
    <div class="posted-by">
        Posted By:
        <%= tutorial.postedBy.name%> on
        <%= tutorial.createdAt.toDateString() %>
    </div>
    <br>
    <% tutorial.steps.forEach(function(s) { %>
    <img src="<%= s.imageUrl %>" alt="">
    <br><br>
    <%= s.content %>
    <% }); %>
    <br>
    <% if (user === undefined) {

    } else if (tutorial.postedBy.email === user.email) { %>
    <button><a id="edit" href="/tutorials/<%= tutorial._id %>/edit">Edit Tutorial</a></button>
    <form action="/tutorials/<%= tutorial._id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Tutorial</button>
    </form>
    <% } else { %>
    <% } %>
    <br>
    <%if (tutorial.comments.length) { %>
        <div class='comments'>
    <h2>Comments and Questions:</h2>
    <% tutorial.comments.forEach(function(c) { %>
        <p>
            <%= c.content %>
        </p>
        <h6>posted by:
            <%= c.postedBy.name %> on
            <%= c.createdAt.toLocaleString() %>
        </h6>
    </div>
    <% }); %>
    <% } %>

    <br>
    <h2>Join the party!</h2>
    <form id="adding-comments" action="/tutorials/<%= tutorial._id%>/comments" method="POST">
        <label>Want to leave a question or a comment?</label><br>
        <textarea type="text" name="content" cols="70" rows="3"></textarea>
        <br><button id="input-btn" type="submit">Comment</button>
    </form>
    <br>
</main>
<%- include('../partials/footer') %>