<%- include('../partials/header') %>

<h1><%= title %></h1>
<br>
<br>
<br>
<main id="tutorial">
 
 <h4>Posted By: <%= tutorial.postedBy.email%>  on <%= tutorial.createdAt %> </h4>
<br>
    <br>
 <%= tutorial.steps[0].content %>

    <br>
</p>
<br>
<br>
<br>
<h2>Feedback (Comments/Questions)</h2>
<form id="adding-feedback" action="/tutorials/<%= tutorial._id %>/feedback" method="POST">

</form>

</main>